<div class="container">
    <img src="../static/estuche.png" alt="Registro escolar" class="img-fluid mx-auto d-block my-3" width="250px" height="auto">
    <h3 class="text-center my-4">¡Bienvenido al sistema de registro de alumnos!</h3>
    <h5 class="text-center">Usa la barra de navegación para acceder a todas las opciones disponibles</h5>
    <h5 class="text-center">o pulsa el siguiente botón</h5>
    <div class="row my-3">
        <div class="col-12">
            <a href="/list"><button class="btn btn-lg btn-dark mx-auto d-block">Acceder</button></a>
        </div>
    </div>
</div>
